﻿ 
@{
    ViewBag.Title = "Member Dash Board";
}

<h2>Dash Board</h2>

<a href="/Members/Gallery"><img src="~/Content/galleryicon.jpg" alt="Gallery Link" width="200" height="200" /></a>
<br/>
<a href="/Home/CalendarEvents"><img src="~/Content/edit-event.png" width="200" height="200" alt="Calendar Events" /></a>
<br />
<a href="/Members/MyProfile"><img src="~/Content/profileicon.png" width="200" height="200" alt="My Profile" /></a>
<br/>
