﻿@model IEnumerable<WSD.Dyc.Domain.Models.ImageModel>

@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Gallery
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(WSD.Dyc.WebApp.Helpers.HtmlExtensions.ImageToImageTag(item.ImageContent, 200, 200, "Picture", item.ImageId.ToString()))
        </td>
       
    </tr>
}

</table>
