﻿<!DOCTYPE html>

    <!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
    <!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
    <!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->
    <head>

        <meta charset="UTF-8" />

        <title>@ViewBag.Title - Diversey Yacht club</title>

        <meta name="description" content="Diversey Yacht Club">

        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" media="screen" href="/TemplateFiles/css/bootstrap.css">
        <link rel="stylesheet" href="/TemplateFiles/css/font-awesome.css">
        <link rel="stylesheet" href="/TemplateFiles/css/animate.css">
        <link rel="stylesheet" href="/TemplateFiles/css/theme.css">
       
        <style type="text/css">
            
            .menuItem2{
                background-color: black;
                display:compact;  
            }
            .menuItem{
                display: compact;
                background-color: black;
            }
            .body-content{
                overflow:auto;

            }
        </style>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript">
            function Loaded()
            {
                
                var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
                var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
                if (width < 700 || height < 700)
                {
                    $('.menuItem2').hide();
                    $('.menuItem').show();
                    $('.body-content').css('margin-top', '500px');
                }
                else
                {
                    $('.menuItem').hide();
                    $('.menuItem2').show();
                    $('.body-content').css('margin-top', '0px');
                }
            }
            function doALoadOfStuff(x) {
                Loaded();
            }
            $(document).ready(function () {
                Loaded();
          
                window.onresize = doALoadOfStuff;

              
                var handler = window.onresize;
                //handler();
                //or
                handler.apply(window, [' On']);
            });
        </script>
    </head>
    <body>
        <!--wrapper start-->
        <div class="wrapper" id="wrapper">

            <!--header-->
            <header>
                <div class="banner row" id="banner">
                    <div class="parallax text-center" style="background-image: url(/Content/dycfront.jpg);">
                        <div class="parallax-pattern-overlay">
                            <div class="container text-center" style="height:580px;padding-top:170px;">
                                <a href="#"><img id="site-title" class="wow fadeInDown" wow-data-delay="0.0s" wow-data-duration="0.9s" src="~/Content/dyclogo.png" alt="logo" /></a>
                                <h2 class="intro wow zoomIn" wow-data-delay="0.4s" wow-data-duration="0.9s">Diversey Yacht Club</h2>
                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="navbar-wrapper">
                        <div class="container">
                            <div class="navwrapper">
                                <div class="navbar navbar-inverse navbar-static-top">
                                    <div class="container">
                                        <div class="navArea">
                                            <div class="navbar-collapse collapse">
                                                <ul class="nav navbar-nav">
                                                    <li class="menuItem2 active"><a href="/Home/Index">Home</a></li>
                                                    
                                                    <li class="menuItem2"><a href="/Home/BarAndGalley">Bar &amp; Galley</a>
                                                    <br/><a href="/Home/PostShoppingOrder">Ship Store</a></li>
                                                    @if (Session["Member"] == null)
                                                    {
                                                        <li class="menuItem2"><a href="/Home/Index#login">Login</a>
                                                            <br/>
                                                            <a href="/Home/CreateProfile">Become A Member</a>
                                                        </li>
                                                    }
                                                   
                                                    <li class="menuItem2"><a href="/Home/NewsLetter">Waterline Newsletter</a>
                                                        <br/> <a href="/Home/CommodoreNotes">Commodore Notes</a> 
                                                      
                                                    </li>
                                                    
                                                    <li class="menuItem2"><a href="/Home/CalendarEvents">Upcoming Events</a>
                                                      <br/>  <a href="/Home/ViewOfficers">Officers</a>
                                                    </li>                                                    
                                                    @if (Session["Member"] != null)
                                                    {
                                                        <li class="menuItem2"><a href="/Members/Dashboard">Member's Section</a></li>
                                                    }
                                                    @if (Session["User"] != null)
                                                    {
                                                        <li class="menuItem2"><a href="/Admin/Index">Admin Section</a></li>
                                                    }
                                                    <li class="menuItem2"><a href="/Home/Contact">Contact</a><br/><a href="/Home/About">About Us</a></li>
                                               
                                                    <!--Second Menu Grouping-->
                                                    <li class="menuItem active"><a href="/Home/Index">Home</a></li>

                                                    <li class="menuItem">
                                                        <a href="/Home/BarAndGalley">Bar &amp; Galley</a>
                                                        
                                                    </li>
                                                    <li class="menuItem">
                                                        <a href="/Home/PostShoppingOrder">Ship Store</a>
                                                    </li>
                                                    @if (Session["Member"] == null)
                                                    {
                                                        <li class="menuItem">
                                                            <a href="/Home/Index#login">Login</a>                                                                                                                        
                                                        </li>
                                                        <li class="menuItem">
                                                            <a href="/Home/CreateProfile">Become A Member</a>
                                                        </li>
                                                    }

                                                    <li class="menuItem">
                                                        <a href="/Home/NewsLetter">Waterline Newsletter</a>
                                                        
                                                    </li>
                                                    <li class="menuItem">
                                                        <a href="/Home/CommodoreNotes">Commodore Notes</a>
                                                    </li>
                                                    <li class="menuItem">
                                                        <a href="/Home/CalendarEvents">Upcoming Events</a>
                                                        
                                                    </li>
                                                    <li class="menuItem">
                                                        <a href="/Home/ViewOfficers">Officers</a>
                                                    </li>
                                                    @if (Session["Member"] != null)
                                                    {
                                                        <li class="menuItem"><a href="/Members/Dashboard">Member's Section</a></li>
                                                    }
                                                    @if (Session["User"] != null)
                                                    {
                                                        <li class="menuItem"><a href="/Admin/Index">Admin Section</a></li>
                                                    }
                                                    <li class="menuItem"><a href="/Home/Contact">Contact</a><br /><a href="/Home/About">About Us</a></li>

                                                
                                                 </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container body-content">
                <div style="padding-top:100px;">
                    <div>
                       <span class="text-danger"> @ViewBag.Error</span>
                    </div>
                    @RenderBody()
                </div>
                <hr />
                <!--footer-->
                <section class="footer" id="footer">
                    <p class="text-center">
                        <a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
                    </p>
                    <div class="container">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/home.php?sk=group_214307511930452&ap=1"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        </ul>
                        <p>
                            &copy; @DateTime.Now.Year Copyright Diversey Yacht Club<br />
                            <img src="~/Content/dyclogo.png" alt="logo" />

                        </p>
                    </div>
                </section>
                @RenderSection("Scripts", required: false)
            </div>
            </div>
            <!--wrapper end-->
    <!--Javascripts-->

    <script src="js/modernizr.js"></script>

    <script src="~/TemplateFiles/js/menustick.js"></script>
    <script src="~/TemplateFiles/js/parallax.js"></script>
    <script src="~/TemplateFiles/js/easing.js"></script>
    <script src="~/TemplateFiles/js/wow.js"></script>
    <script src="~/TemplateFiles/js/smoothscroll.js"></script>
    <script src="~/TemplateFiles/js/masonry.js"></script>
    <script src="~/TemplateFiles/js/imgloaded.js"></script>
    <script src="~/TemplateFiles/js/classie.js"></script>
    <script src="~/TemplateFiles/js/colorfinder.js"></script>
    <script src="~/TemplateFiles/js/gridscroll.js"></script>
    <script src="~/TemplateFiles/js/contact.js"></script>
    <script src="~/TemplateFiles/js/common.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $(document).ready(function () {
                //enabling stickUp on the '.navbar-wrapper' class
                $('.navbar-wrapper').stickUp({
                    parts: {
                        0: 'banner',
                        1: 'aboutus',
                        2: 'specialties',
                        3: 'gallery',
                        4: 'feedback',
                        5: 'contact'
                    },
                    itemClass: 'menuItem',
                    itemHover: 'active',
                    topMargin: 'auto'
                });
            });
        });
    </script>
</body>
</html>
