﻿@{
    ViewBag.Title = "About";
}
<section class="aboutus" id="aboutus">
    <div class="container">
        <div class="heading text-center">
            <img class="dividerline" src="/TemplateFiles/img/sep.png" alt="">
            <h2>About Diversey Yacht Club</h2>
            <img class="dividerline" src="/TemplateFiles/img/sep.png" alt="">
            
        </div>
        <div class="row">
           
            <div class="col-md-6">
                <div class="papers text-center">
                    <img src="~/Content/barAndGrill.jpg" alt="DYC - Bar And Grill"><br />
                    <a href="#"><b>Download Member Application</b></a>
                    <h4 class="notopmarg nobotmarg"></h4>
                    <p>
                       
                        <a href="/Documents/MembershipForm.pdf"> Sign Up To Join Us With A Paper Form</a>
                        <br/>
                        <a href="/Home/CreateProfile">Sign Up Online</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
