﻿
@{
    ViewBag.Title = "Bar And Galley";
}

<h2>Bar &amp; Galley</h2>
<div>
    <table>
        <tr><td>
    
    <img src="~/Content/galley1.jpg" alt="Bar" width="200" height="150" />
    </td><td>
             <img src="~/Content/galley2.jpg" alt="Galley" width="200" height="100" />
            </td><td>
                     <img src="~/Content/galley3.jpg" alt="Galley" width="200" height="150" />
            </td></tr>
        </table>
    
</div>
<div>
    <a href="~/Documents/Menu.pdf">Download Galley Menu</a>
    <br/>
    <a href="~/Documents/BreakfastMenu.pdf">Download Breakfast Menu</a>
</div>
<div>
    <a href="tel:">Call To Order</a>
</div>
<div>
    <a href="/Home/PostOrder">Order Online</a>
</div>
<div>
    Face it, you can only live out of a cooler for so long. Eventually, you want to enjoy a drink or a meal prepared by someone else. Diversey Yacht Club offers an outstanding selection of great tasting food and spirits at very reasonable prices.
    You'll find that our bar has a friendly, welcoming, neighborhood feel - perfect for kicking back with good friends and family.
    The DYC Galley has a casual, seaside atmosphere that's perfect for lunch with colleagues, dinner with friends or a casual date.
</div>
