﻿@model WSD.Dyc.Domain.Models.CalendarEventModel

@{
    ViewBag.Title = "CalendarEventDetails";
}

<h2>Calendar Event Details</h2>

<div>
    
    <dl class="dl-horizontal">
     
     
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @if (Session["User"] != null)
    {
        @Html.ActionLink("Edit", "EditCalendarEvent","Admin", new { id = Model.EventId }) <br/>
    }
    @Html.ActionLink("Back to Calendar", "CalendarEvents")
</p>
