﻿
@{
    ViewBag.Title = "Calendar Events";
}
<link type="text/css" rel="stylesheet" href="~/Content/fullcalendar.min.css" />
<link type="text/css" rel="stylesheet" media="print" href="~/Content/fullcalendar.print.min.css" />
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            events: '/Home/LoadCalendarEvents'
        });
           
        
    });
</script>
<h2>Calendar Events</h2>

<div id='calendar'></div>