﻿@model IEnumerable<WSD.Dyc.Domain.Models.CommodoreNoteModel>

@{
    ViewBag.Title = "Commodore Notes";
}

<h2>Commodore Notes</h2>

@if (Model != null)
{
    <table class="table filtertable sortabletable">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

            </tr>
        }

    </table>
}
else
{
    <span>No Commodore Notes</span>
}