﻿
@{
    ViewBag.Title = "Confirmation Success";
}

<h2>Confirmation</h2>

<div>
    Here Is your Confirmation Number: @ViewBag.ConfirmationMessage
</div>
<div>
    @Html.ActionLink("Home","Index")
</div>