﻿@model IEnumerable<WSD.Dyc.Domain.Models.NewsLetterModel>

@{
    ViewBag.Title = "News Letter";
}

<h2>Waterline News Letter</h2>


@if (Model != null)
{
    <table class="table sortabletable filtertable">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>


            </tr>
        }

    </table>
}
else
{
    <span> No News Letters</span>
}