﻿@model IEnumerable<WSD.Dyc.Domain.Models.ClubOfficerModel>

@{
    ViewBag.Title = "ViewOfficers";
}

<h2>Club Officers</h2>

@if (Model != null)
{
<table class="table filtertable sortabletable">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermEnd)
        </th>
        <th>
            Picture
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.Raw(item.Member.LastName + "," + item.Member.FirstName + " " + (item.Member.MiddleName ?? ""))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermEnd)
        </td>
        <td>
            @if (item.Member.ProfileImage != null)
            {
                @Html.Raw(WSD.Dyc.WebApp.Helpers.HtmlExtensions.ImageToImageTag(item.Member.ProfileImage, 50, 50, item.Title, item.OfficerId.ToString()))
            }
        </td>
    </tr>
}

</table>
}
else
{
    <span>No Officers</span>
}
@Html.ActionLink("Home", "Index")