﻿
@{
    ViewBag.Title = "Index";
}

<h2 style="padding-top:100px;">Administration Home</h2>

@Html.ActionLink("Maintain Commodore Notes", "CommodoreNotes")
<br/>
@Html.ActionLink("Maintain Events","Events")
<br/>
@Html.ActionLink("Maintain Officers","Officers")
<br/>
@Html.ActionLink("Maintain Members","Members")
<br/>
@Html.ActionLink("Maintain Bar And Grill Items","MenuItems")
<br/>
@Html.ActionLink("Maintain Newsletters","NewsLetters")
<br/>
@Html.ActionLink("Maintain Site Shopping Items","ShoppingItems")
<br/>
@Html.ActionLink("Maintain Admins","Users")
<br/>
@Html.ActionLink("Maintain PDF Documents","PostDocuments")
<br/>
@Html.ActionLink("Maintain Shop Orders", "ShopOrders")
<br />
@Html.ActionLink("Maintain Bar And Grill Orders", "OnlineOrders")
<br /> 