﻿@model IEnumerable<WSD.Dyc.Domain.Models.NewsLetterModel>

@{
    ViewBag.Title = "NewsLetters";
}

<h2>NewsLetters</h2>

<p>
    @Html.ActionLink("Create News Letter", "AddNewsLetter")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsLetterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsLetterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditNewsLetter", new { id=item.NewsLetterId }) 
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Go To Admin Home", "Index", "Admin")
</p>