﻿@model WSD.Dyc.Domain.Models.OnlineOrderModel

@{
    ViewBag.Title = "Online Order Details";
}

<h2>Online Order Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFulfilled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFulfilled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOrProvidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOrProvidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlipNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlipNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VesselName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VesselName)
        </dd>
        <dt>
            Menu Items Purchased:
        </dt>
        <dd>
            @foreach(var item in Model.Items.GroupBy(c => c.Category).ToList())
            {
                <div>
                    @item.First().Category

                   @foreach(var i2 in item)
                   {
                      <table>
                            <tbody>
                                <tr><td>Name</td><td>@i2.Name</td></tr>
                                <tr><td>Picture</td><td>@Html.Raw(WSD.Dyc.WebApp.Helpers.HtmlExtensions.ImageToImageTag(i2.Picture, 200,200,i2.Name,i2.MenuItemId.ToString()))</td></tr>
                                <tr><td>Price</td><td>@i2.Price.ToString("G2")</td></tr>
                            </tbody>
                      </table> 
                   }
                </div>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "OnlineOrders")
</p>
