﻿@model IEnumerable<WSD.Dyc.Domain.Models.ShopItemModel>

@{
    ViewBag.Title = "Shopping Items";
}

<h2>Shopping Items</h2>

<p>
    @Html.ActionLink("Create Shopping Item", "AddShoppingItem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditShoppingItem", new { id=item.ShopItemId }) 
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Go To Admin Home", "Index", "Admin")
</p>