﻿@model IEnumerable<WSD.Dyc.Domain.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
       
        <td>
            
            @Html.ActionLink("Delete", "RemoveUser", new { id=item.UserId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Go To Admin Home", "Index", "Admin")
</p>